<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKTableViewDataSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SKTableViewDataSourceAdvancedApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SKTableViewDataSourceApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>102048E21356430F00F1CF43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>108A6D831355264700B9AAC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10E8046713452B73001F253F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10E8047413452B73001F253F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
